.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
}

.list-inline i:hover {
	background-color: black;
}

.list-left {
	text-align: left;
}

.icon-purple i {
	color: #ccbcbc;
}

.icon-blue i {
	color: #0353a4;
}
